:root {
  --color-primary: #25b4ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 2rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 5rem;
  }
}
