<!-- CODE TO BE USED: Could be put in a div, it's necessary-->
<div class="callout callout-grid--1x2">
  <div class="callout__text">
    <h3 class="callout-title">Ready to Get Started?</h3>
    <p class="callout-description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In nam sint unde
      qui blanditiis aut distinctio quis odit, illo repudiandae.
    </p>
  </div>
  <div class="callout__button">
    <button class="btn btn--secondary">Get Started</button>
  </div>
</div>

<!-- HEREUNDER, NOT TO BE USED
  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to get started ?</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius
          consequatur ea optio iure quasi corporis expedita nemo dolore. Cum,
          distinctio.
        </p>
      </div>
      <div><a href="#" class="btn btn--secondary">Get Started</a></div>
    </div>
  </div>
  -->
