<!--The style of the first div has to be removed, this was just an inline
style to have a visual whyle styling-->
<div style="background: black" class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media-title">Easy Start & Managed Updates</h3>
    <p class="body-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      consequuntur assumenda neque corrupti est enim aut iste! Earum ipsam
      laboriosam ad.
    </p>
  </div>
</div>
