<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2 class="block__heading">User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2">
    <div class="showcase--image-container">
      <!--the image could be wrapped in a picture and we could then add different sources-->
      <img
        class="showcase--image"
        src="/images/ipad.png"
        alt="dashboard on Ipad screen"
      />
    </div>
    <div class="showcase--media">
      <article class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media-title">Easy Start & Managed Updates</h3>
          <p class="body-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus consequuntur assumenda neque corrupti est enim aut
            iste! Earum ipsam laboriosam ad.
          </p>
        </div>
      </article>
      <article class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media-title">Staging, GIT & WP-CLI</h3>
          <p class="body-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus consequuntur assumenda neque corrupti est enim aut
            iste! Earum ipsam laboriosam ad.
          </p>
        </div>
      </article>
      <article class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media-title">Dynamic Caching & More</h3>
          <p class="body-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus consequuntur assumenda neque corrupti est enim aut
            iste! Earum ipsam laboriosam ad.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
