<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="./images/testimonial.jpg" alt="a happy smiling customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--primary icon--primary--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <div class="testimonial-quote">
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum libero
          earum iusto minima sed dicta unde totam fugiat doloremque, ullam
          molestias autem atque harum tempora.
        </p>
      </blockquote>
      <footer class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h4 class="quote__author">John smith</h4>
          <p class="quote__organization">Mosh company ceo</p>
        </div>
      </footer>
    </div>
  </div>
</div>
